* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #e9eaeb;
    color: white;
}

header {
    height: 55px;
    background-color: #cc373e;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}


header > img {
    width: 25px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}