*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    margin-right: 20px;
    font-size: 18px;
    margin-left: 20px;
}